footer {
    background: #96C9E9;
    padding-top: 114px;
}

.want {
    font-family: var(--rr);
    font-size: 50px;
    font-weight: 400;
    line-height: 57px;
    text-align: center;
    color: var(--green);
    max-width: 726px;
    margin: 0 auto;

}