@media screen and (max-width: 768px) {
  .header__wrap {
    display: flex;
    flex-direction: column;
  }

  .menu__link {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .menu__log {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
}

@media screen and (max-width: 505px) {
  .banner__wrap {
    display: flex;
    flex-direction: column;
  }
  .banner__h1 {
    font-size: 30px;
    margin: 0 auto;
  }
  .banner__text {
    font-size: 17px;
    margin-bottom: 20px;
  }
  .line {
    max-width: 250px;
  }

  .image {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 40px;
  }

  .human1 {
    padding: 0;
  }

  .image__src {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .human__round {
    left: 0;
    position: absolute;
  }
}

@media screen and (max-width: 458px) {
  .wrapper__text {
    display: grid;
  }
  .wrapper__h3{
    margin-bottom: 20px;
    font-size: 15px;
  }
  .wrapper__btns{
    display: flex;
    justify-content: flex-start;
  }

  .logo__wrap{
    margin: 38px 0 29px;
  }

  .slide{
    font-size: 12px;
  }

}

@media screen and (max-width:484px) {
    .violet{
        width: 447px;
        height: 195px;
        padding: 57px 0 24px;
    }

    .violet__wrap{
        display: flex;
        align-items: center;
        gap:5px;
        margin-top: -43px;
        flex-direction: column;
    }
    .black__woman{
        padding-top: 50px;

    }

    .black__woman-wrap {
        display: flex;
        flex-direction: column;
    }

    .need{
        margin-bottom: 25px;
        font-size: 10px;
    }

    .health{
        font-size: 27px;
        margin-bottom: 30px;
    }
    .med{
        font-size: 15px;
        margin-bottom: 22px;
    }
    .black__woman-img{
      width: 420px;
    }
}


@media screen and (max-width: 484px){
  .the__text-two {
    font-size: 8px;
    margin-bottom: 15px;
  }
  .the__text-two{
    font-size: 18px;
  }

  .color__wrap{
    display: flex;
    flex-direction: column;
  }

  .green{
    width: 108%;
  }
  

.blue{
  width: 108%;
}
}

