.scroll {
    background: #CFD4D8;
    padding: 94px 0 100px;
    margin-bottom: 99px;
}

.scroll__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.see {
    font-family: var(--rr);
    font-size: 50px;
    font-weight: 400;
    line-height: 57px;
    color: var(--green);
    max-width: 617px;
    margin-bottom: 66px;
}

.card__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px
}

.card__one {
    height: 524px;
    width: 340px;
    background: var(--green);
}

.card__text {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.ceo {
    font-family: var(--rr);
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    color: #E5E8EB;
    max-width: 184px;
    margin-bottom: 19px;
}

.my {
    font-family: var(--rr);
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    color: #E5E8EB;
    max-width: 238px;
    margin-bottom: 191px;
}

.card__two {
    height: 524px;
    width: 340px;
    background: #E5E8EB;

}

.de {
    font-family: var(--rr);
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    color: var(--green);
    margin-bottom: 19px;
}

.to {
    font-family: var(--rr);
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    color: var(--green);
    max-width: 222px;
    margin-bottom: 259px;
}

.right {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.dir {
    font-family: var(--rr);
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    color: var(--green);
    max-width: 247px;
    margin-bottom: 19px;
}

.card__three {
    background: #96C9E9;
    height: 524px;
    width: 340px;
}

.and {
    font-family: var(--rr);
    font-size: 11px;
    font-weight: 400;
    line-height: 30px;
    color: var(--green);
    margin-bottom: 289px;
}

.card__four {
    height: 524px;
    width: 340px;
    background: #B961CD;


}

.lead {
    font-family: var(--rr);
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: #E5E8EB;
    max-width: 209px;
    margin-bottom: 19px;


}

.with {
    font-family: var(--rr);
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    max-width: 237px;
    color: #E5E8EB;

}

.card__five {
    height: 524px;
    width: 340px;
    background: #453549;

}

.bus {
    font-family: var(--rr);
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    color: #E5E8EB;
    margin-bottom: 19px;
}

.the {
    font-family: var(--rr);
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    color: #E5E8EB;
    max-width: 245px;

}

.card__six {
    background: #746F6B;
    height: 524px;
    width: 340px;
}

.ope {
    font-family: var(--rr);
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    color: #E5E8EB;
    margin-bottom: 19px;

}

.what {
    font-family: var(--rr);
    font-size: 11px;
    font-weight: 400;
    line-height: 30px;
    color: #E5E8EB;
    max-width: 250px;


}

.card {
    position: relative;
    overflow: hidden;
}

.more {
    font-family:var(--rr);
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    color: var(--green);
    margin-bottom: 85px;

}